hr {
	margin: 0;
}

.navbar-text a {
	margin-top: -2px !important;
}

.post {
	margin-bottom: 40px;
}

.post h3 {
	position: relative;
}

.post h3 span {
	position: relative;
	top: -15px;
}


.post ul.status-bar li {
	margin-right: 15px;
}

.post ul.tags {
	margin-left: 30px;
}

/* stick-footer */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

#push, #footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
}

.container .credit {
	margin: 20px 0;
}

/* //stick-footer */

.no-margin {
	margin: 0;
}

.answers-toggle {
	margin-left: 20px;
}

.answer h4 {
	position: relative;
}

.answer h4 span {
	position: relative;
	top: -3px;
}

.answer {
	margin-bottom: 30px;
}

.add-answer {
	margin: -20px 0 15px 0;
}

/* Tag cloud */

.tag-cloud ul {
	margin:1em 0;
	padding:.5em 10px;
	text-align:center;	
}

.tag-cloud li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}
.tag-cloud li a {
	text-decoration:none;
	padding:0 2px;	
}	

.bottom-help {
	margin-top: -10px;
}

.resize-vertical {
	resize: vertical;
}

.tag1{font-size:100%;}
.tag2{font-size:120%;}
.tag3{font-size:140%;}
.tag4{font-size:160%;}
.tag5{font-size:180%;}

/* // Tag cloud */

ul.nav.nav-list li.active span.badge.badge-info {
	background-color: #ffffff;
	color: #3a87ad;
}

.avatar {
	text-align: center;
}

.avatar img {
	display: inline-block;
}