{% load staticfiles %}
<li class="media answer {% if answer.usefull %}useful{% endif %}">
	<img class="media-object pull-left" src="{% static 'questioneer/img/user-small.png' %}">
	<div class="media-body" id="answer{{ answer.id }}">
		<h4 class="media-heading">
			{{ answer.title }}
			{% if answer.usefull %}
				<span class="label label-success">Полезный ответ</span>
			{% endif %}
			</h4>
		<p>
			{{ answer.text }}
		</p>
		<hr />
		<ul class="inline status-bar pull-right">
			{% if not nouser %}
				<li><a href="{% url 'user' answer.user.id %}"><i class="icon-user"></i> {{ answer.user.username }}</a></li>
			{% endif %}
			<li><i class="icon-time"></i> {{ answer.date | date:"d.m.y h:i"}}</li>
		</ul>
		<ul class="inline status-bar">
			<li>
				<a href="javascript://void" onclick="vote({{ answer.id }}, 'answer', -1)">
					<i class="icon-minus"></i>
				</a> 
				<span class='vote'>{{ answer.vote }}</span>
				<a href="javascript://void" onclick="vote({{ answer.id }}, 'answer', 1)">
					<i class="icon-plus"></i>
				</a>
			</li>
			{% if not answer.usefull and user = answer.question.user %}
				<li class="usefull-btn">
					<a href="javascript://void" onclick="usefull({{ answer.id }})">
						<i class="icon-ok"></i> Это полезно
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</li>