<div class="pagination pagination-centered pagination-large">
	<ul>
		{% if not page.has_previous %}
			<li class="disabled" ><a>&laquo;</a></li>
		{% else %}
			<li><a href="{{ request.path }}?page={{ page.previous_page_number }}">&laquo;</a></li>
		{% endif %}
		{% if page.number > 2 %}
			<li><a href="{{ request.path }}?page=1">1</a></li>
		{% endif %}
		{% if page.number > 3 %}
			<li class="disabled"><a>...</a></li>
		{% endif %}
		{% if page.has_previous %}
			<li><a href="{{ request.path }}?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
		{% endif %}
		<li class="active"><a>{{ page.number }}</a></li>
		{% if page.has_next %}
			<li><a href="{{ request.path }}?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
		{% endif %}
		{% if page.paginator.num_pages > page.number|add:'2' %}
			<li class="disabled"><a>...</a></li>
		{% endif %}
		{% if  page.paginator.num_pages > page.number|add:'1' %}
			<li><a href="{{ request.path }}?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a></li>
		{% endif %}
		{% if not page.has_next %}
			<li class="disabled" ><a>&raquo;</a></li>
		{% else %}
			<li><a href="{{ request.path }}?page={{ page.next_page_number }}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>