<div class="row-fluid post" id="question{{ question.id }}">
	<h3>
		{% if not notlink %}
			<a href="{% url 'question' question.id %}">{{ question.title }}</a>
			<span class="badge">
				{{ question.answers_num }}
				ответов
			</span>
			{% if question.usefull != 0 %}
				<span class="badge badge-success">{{ question.usefull }} полезных</span>
			{% endif %}
		{% else %}
			{{ question.title }}
		{% endif %}
	</h3>
	<div class="post-body">
		<p> 
			{{ question.text }} 
		</p>
	</div>
	{% if question.tags.all %}
		<ul class="inline tags">
			<li><i class="icon-tags"></i></li>
			{% for tag in question.tags.all %}
				<li><a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	<hr />
	<ul class="inline status-bar pull-right">
		{% if not nouser %}
			<li><a href="{% url 'user' question.user.id %}"><i class="icon-user"></i> {{ question.user.username }}</a></li>
		{% endif %}
		<li><i class="icon-time"></i> {{ question.date | date:"d.m.y h:i"}}</li>
	</ul>
	<ul class="inline status-bar">
		{% if not notlink %}
			<li><a href="{% url 'question' question.id %}#answers"><i class="icon-comment"></i> Смотреть ответы</a></li>
		{% endif %}
		<li><i class="icon-eye-open"></i> {{ question.views }}</li>
		<li>
			<span id="like{{ question.id }}">
				{% if not user in question.likes.all %}
					<a href="javascript://void" onclick="like({{ question.id }})">
						<i class="icon-star-empty"></i> 
					</a>
				{% else %}
					<a href="javascript://void" onclick="unlike({{ question.id }})">
						<i class="icon-star"></i> 
					</a>
				{% endif %}
				<span>{{ question.like_num }}</span>
			</span>
		</li>
			<li>
				<a href="javascript://void" onclick="vote({{ question.id }}, 'question', -1)">
					<i class="icon-minus"></i>
				</a> 
				<span class='vote'>{{ question.votes }}</span>
				<a href="javascript://void" onclick="vote({{ question.id }}, 'question', 1)">
					<i class="icon-plus"></i>
				</a>
			</li>
	</ul>
</div>