{% load staticfiles %}
{% load tags %}
<!doctype html>
<html>
<head>

	<title>{% block title %}Вопросы и Ответы{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'questioneer/css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static 'questioneer/css/styles.css' %}" rel="stylesheet" media="screen">
</head>
<body>
	<div id="wrap">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{% url 'new_questions' %}">Вопросы и ответы</a>
					<div class="nav-collapse collapse">
						<div class="pull-right">
							{% login user %}
						</div>
						<ul class="nav">
							<li class="{% if active_page == 'questions' %}active{% endif %}">
								<a href="{% url 'new_questions' %}">Вопросы</a>
							</li>
							<li class="{% if active_page == 'users' %}active{% endif %}">
								<a href="{% url 'users' %}">Пользователи</a>
							</li>
							<li class="{% if active_page == 'tags' %}active{% endif %}">
								<a href="{% url 'tags' %}">Теги</a>
							</li>
						</ul>
					</div> 
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					{% block content %}{% endblock %}
				</div>
					
				<div class="span3">
					<div class="well">
						{% block rightcol %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		
		<div id="push"></div>
	</div>
	<div id="footer">
		<div class="container">
			{% block footer %}
				<p class="muted credit">В этом футере надо бы что-нибудь написать.</p
			{% endblock %}
		</div>
	</div>
			
    <script src="{% static 'questioneer/js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'questioneer/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'questioneer/js/scripts.js' %}"></script>
</body>
</html>
	