{% extends 'questioneer/questions.html' %}
{% load tags %}

{% block content %}
	<div class="row-fluid">
		<a href="#addQuestion" role="button" class="btn btn-success pull-right" data-toggle="modal" type="button">Спросить</a>
		<ul class="nav nav-tabs">
			<li class="{% if active_tab == 'new' %}active{% endif %}"><a href="{% url 'new_questions' %}">Новые</a></li>
			<li class="{% if active_tab == 'popular' %}active{% endif %}"><a href="{% url 'popular_questions' %}">Популярные</a></li>
			<li class="{% if active_tab == 'noanswer' %}active{% endif %}"><a href="{% url 'unanswered_questions' %}">Неотвеченные</a></li>
		</ul>
	</div>
	{% for q in question_page %}
		{% include "questioneer/snippets/question.html" with question=q %}	
	{% endfor %}

	{% include "questioneer/snippets/paginator.html" with page=question_page only %}	
	
	<div id="addQuestion" class="modal hide fade" tabindex="-1" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Задать вопрос</h3>
		</div>
		<form class="no-margin" action="{% url 'add_question' %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row-fluid">
						<label class="control-label" for="{{ form.title.auto_id }}">
							{{ form.title.label }}
						</label>
						{{ form.title }}
						
						<label class="control-label" for="{{ form.text.auto_id }}">
							{{ form.text.label }}
						</label>
						{{ form.text }}

						<label class="control-label" for="{{ form.tags.auto_id }}">
							{{ form.tags.label }}
						</label>
						{{ form.tags }}
						<span class="help-block bottom-help">
							Один или несколько тегов через запятую.
						</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
				<button type="submit" class="btn btn-primary">Отправить</button>
			</div>
		</form>
	</div>
{% endblock %}