{% extends 'questioneer/questions.html' %}
{% load tags %}

{% block content %}
	{% include "questioneer/snippets/question.html" with notlink=True question=question %}			
	
	<a name="answers"></a>
	<div class="row-fluid answers">
		<a href="#addAnswer" role="button" class="btn btn-success btn-large pull-right" data-toggle="modal" type="button">Добавить ответ</a>
		<h4>
			Ответы
			<div class ="btn-group answers-toggle" data-toggle="buttons-radio">
				<button id="showAllBtn" class="btn active" onclick="$('.answer:not(.useful)').collapse('show')">Все</button>
				<button id="showUsefulBtn "class="btn" onclick="$('.answer:not(.useful)').collapse('hide')">Полезные</button>
			</div>
		</h4>
		<ul class="media-list">
			{% for a in answers %}
				{% include "questioneer/snippets/answer.html" with answer=a %}
			{% endfor %}
		</ul>
	</div>
	
	<div id="addAnswer" class="modal hide fade" tabindex="-1" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Добавить ответ</h3>
		</div>
		<form class="no-margin" action="{% url 'add_answer' question.id %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row-fluid">			
					<label class="control-label" for="{{ form.title.auto_id }}">
						{{ form.title.label }}
					</label>
					{{ form.title }}
					
					<label class="control-label" for="{{ form.text.auto_id }}">
						{{ form.text.label }}
					</label>
					{{ form.text }}	
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
				<button type="submit" class="btn btn-primary">Ответить</button>
			</div>
		</form>
	</div>
{% endblock %}
					
				