{% extends 'questioneer/questions.html' %}
{% load tags %}

{% block content %}
	<h3>Теги</h3>
	<ul class="media-list">
		{% for t in tag_page %}
		<li class="media answer">
			<div class="media-body">
				<h4 class="media-heading">
					<a href="{% url 'tag' t.id %}">{{ t.name }}</a>
				</h4>
				<hr/>
				<ul class="inline status-bar">
					<li>
						<i class="icon-bullhorn"></i>
						{{ t.questions_num }} вопросов
					</li>
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% include "questioneer/snippets/paginator.html" with page=tag_page only %}
{% endblock %}