{% extends 'questioneer/questions.html' %}
{% load tags %}

{% block content %}
	<h3>Вопросы с тегом <a href="{% url 'tag' tag.id %}">{{ tag.name }}</a></h3>
	{% for q in question_page %}
		{% include "questioneer/snippets/question.html" with question=q %}	
	{% endfor %}
	{% include "questioneer/snippets/paginator.html" with page=question_page only %}
{% endblock %}