{% extends 'questioneer/questions.html' %}
{% load tags %}

{% block content %}
	<h3>Пользователи</h3>
	<ul class="media-list">
		{% for u in user_page %}
		<li class="media answer">
			<img class="media-object pull-left" src="img/user-small.png">
			<div class="media-body">
				<h4 class="media-heading">
					<a href="{% url 'user' u.id %}">{{ u.username }}</a>
				</h4>
				<hr/>
				<ul class="inline status-bar">
					<li>
						<a href="{% url 'user_questions' u.id %}">
							<i class="icon-bullhorn"></i>
							{{ u.questions_num }} вопросов
						</a>
					</li>
					<li>
						<a href="{% url 'user_questions' u.id %}">
							<i class="icon-comment"></i>
							{{ u.answers_num }} ответов
						</a>
					</li>
				</ul>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% include "questioneer/snippets/paginator.html" with page=user_page only %}
{% endblock %}