{% extends 'questioneer/user.html' %}
{% load tags %}

{% block content %}
<h3>
	{{ user_profile.first_name }}
	{{ user_profile.username }}
	{{ user_profile.last_name }}
</h3>
<hr/>
<div class="row-fluid">
	<div class="span8">
		{% if user_profile.email %}
			<div class="row-fluid">
				<div class="span4 muted">Электронная почта</div>
				<div class="span8">{{ user_profile.email }}</div>
			</div>
			<hr />
		{% endif %}
		<div class="row-fluid">
			<div class="span4 muted">Последний визит</div>
			<div class="span8">{{ user_profile.last_login | date:"d.m.y h:m" }}</div>
		</div>
		<hr />
		<div class="row-fluid">
			<div class="span4 muted">Зарегистрирован</div>
			<div class="span8">{{ user_profile.date_joined | date:"d.m.y" }}</div>
		</div>
		<hr />
	</div>
</div>
{% endblock %}