{% extends 'questioneer/base.html' %}
{% load staticfiles %}
{% block rightcol %}
	<div class="avatar">
		<img src="{% static 'questioneer/img/user-large.png' %}" class="img-circle">
	</div>
	<h3>{{ user_profile.username }}</h3>
	<ul class="nav nav-list">
		<li class="{% if active_tab == 'info' %}active{% endif %}">
			<a href="{% url 'user' user_profile.id %}">Информация</a>
		</li>
		<li class="{% if active_tab == 'questions' %}active{% endif %}">
			<a href="{% url 'user_questions' user_profile.id %}">
				Вопросы
				<span class="badge badge-info pull-right">
					{{ user_profile.questions_num }}
				</span>
			</a>
		</li>
		<li class="{% if active_tab == 'answers' %}active{% endif %}">
			<a href="{% url 'user_answers' user_profile.id %}">
				Ответы
				<span class="badge badge-info pull-right">
					{{ user_profile.answers_num }}
				</span>
			</a>
		</li>
	</ul>
{% endblock %}