{% extends 'questioneer/user.html' %}
{% load tags %}

{% block content %}
	{% for a in answer_page %}
		<div class="row-fluid post">
			<h4>На вопрос <a href="{% url 'question' a.question.id %}">{{ a.question.title }}</a></h4>
			<ul class="media-list">
				{% include "questioneer/snippets/answer.html" with answer=a nouser=True %}
			</ul>
		</div>
	{% endfor %}

	{% include "questioneer/snippets/paginator.html" with page=answer_page only %}
{% endblock %}