{% if user.is_authenticated %}
	<ul class="nav pull-right">
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-user"></i>
				{{ user.username }}
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li>
					<a href="{% url 'user' user.id %}">
						<i class="icon-pencil"></i> Профиль
					</a></li>
				<li><a href="#"><i class="icon-wrench"></i> Настройки</a></li>
				<li class="divider"></li>
				<li><a href="/logout"><i class="icon-off"></i> Выйти</a></li>
			</ul>
		</li>
	</ul>
{% else %}
	<p class="navbar-text">
		<a href="#login" role="button" class="btn btn-primary" data-toggle="modal" type="button">Войти</a>
		<a href="#register" role="button" data-toggle="modal" type="button">Зарегистрироваться</a>
	</p>

	<div id="login" class="modal hide fade" tabindex="-1" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Войти</h3>
		</div>
		<form class="no-margin form-horizontal" action="{% url 'login' %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="{{ login.login.auto_id }}">
						{{ login.login.label }}
					</label>
					<div class="controls">
						{{ login.login }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ login.password.auto_id }}">
						{{ login.password.label }}
					</label>
					<div class="controls">
						{{ login.password }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
				<button type="submit" class="btn btn-primary">Войти</button>
			</div>
		</form>
	</div>

	<div id="register" class="modal hide fade" tabindex="-1" role="dialog">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Зарегистрироваться</h3>
		</div>
		<form class="no-margin form-horizontal" action="{% url 'signup' %}" method="post">
			{% csrf_token %}
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="{{ signup.email.auto_id }}">
						{{ signup.email.label }}
					</label>
					<div class="controls">
						{{ signup.email }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ signup.login.auto_id }}">
						{{ signup.login.label }}
					</label>
					<div class="controls">
						{{ signup.login }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ signup.password.auto_id }}">
						{{ signup.password.label }}
					</label>
					<div class="controls">
						{{ signup.password }}
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ signup.password_confirmation.auto_id }}">
						{{ signup.password_confirmation.label }}
					</label>
					<div class="controls">
						{{ signup.password_confirmation }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
				<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
			</div>
		</form>
	</div>
{% endif %}